footer {
    padding-block: 24px;
    display: flex;
    justify-content: space-between;
    font: var(--text-md);
    align-items: center;

    font: 14px/150% var(--font-family);
}

span:last-child {
  display: flex;
  gap: 24px;
}